.helvetica {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
}

$line: 24;
$column: 100% / 18;
$font-size: 16;
$em: $font-size * 1;
$base: ($line/$font-size*1em); 

body {
    /* 16px / 24px */
    font-size: $font-size / 16 * 1em;
    line-height: #{$line / $em}em;
		@extend .helvetica;
}

.tiny {
    /* 11px / 12px */
    font-size: #{($font-size*0.6875) / $em}em;
    line-height: ($line*0.5) / ($font-size*0.6875) * 1em;
}

.mini {
    /* 12px / 12px */
    font-size: #{($font-size*0.75) / $em}em;
    line-height: ($line*0.5) / ($font-size*0.75) * 1em;
}

.small {
    /* 14px / 18px */
    font-size: #{($font-size*0.875) / $em}em;
    line-height: ($line*0.75) / ($font-size*0.875) * 1em;
}

.normal {
    /* 16px / 24px */
    font-size: #{$font-size / $em}em;
    line-height: #{$line / $em}em; /* 24 */
}

.big {
    /* 18px / 24px */
    font-size: #{$font-size*1.125 / $em}em;
    line-height: ($line*1) / ($font-size*1.125) * 1em;
}

.plump {
}

.large {
}

.fat {
}

.huge {
}

.massive {
}

.gigantic {
}

