.wrapper {
  width: 930px;
  margin: 0 auto; }
  .wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.grid-1 {
  width: 9.274%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-2 {
  width: 21.774%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-3 {
  width: 34.274%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-4 {
  width: 46.774%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-5 {
  width: 59.274%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-6 {
  width: 71.774%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-7 {
  width: 84.274%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-8 {
  width: 96.774%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

#site-nav p {
  color: #ebebeb; }

html,
body {
  height: 100%;
  margin: 0; }
