/* ----------------------------------------------------------------

Title: Master styles for screen media
Author: Jordan Cooperman, jordan@vectormediagroup.com
Year: 2012

----------------------------------------------------------------

Oh, I didn't see you there, friend.

Please have a look around, I hope you enjoy your stay.

----------------------------------------------------------------

[Table of contents] - a map of our grounds.

    0.General
        a.base elements
        b.base classes

    1.Layout
        a.header
        b.content
        c.footer

    2.Extensible Classes

----------------------------------------------------------------

[Prefixes] - some patterns that you may observe.

    g: global
    s: state

---------------------------------------------------------------- */
/* 0.`General
---------------------------------------------- */
.wrapper {
  width: 930px;
  margin: 0 auto; }
  .wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.grid-1 {
  width: 9.274%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-2 {
  width: 21.774%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-3 {
  width: 34.274%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-4 {
  width: 46.774%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-5 {
  width: 59.274%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-6 {
  width: 71.774%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-7 {
  width: 84.274%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-8 {
  width: 96.774%;
  padding: 0;
  margin: 0 1.613%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

/* a.`base elements
------------------------- */
/* 2.`Extensible Classes
---------------------------------------------- */
.group {
  min-height: 1px; }
  .group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
