
// Title:   Master styles for screen media
// Author: Jordan Cooperman, jordancooperman@gmail.com
// Year: 2011

//////////////////////////////////////////////////////////////////

// Table of contents

//////////////////////////////////////////////////////////////////

// 0.General
// 1.Navigation

//////////////////////////////////////////////////////////////////


///////////////////////////////////////

// 0.`General

///////////////////////////////////////

@import "partials/grid";

///////////////////////////////////////

// 1.`Navigation

///////////////////////////////////////

#site-nav {
    p {
        color: #ebebeb;
    }
}


///////////////////////////////////////

// 2.`Layout

///////////////////////////////////////

html,
body {
    height : 100%;
    margin : 0;
}
