/* ----------------------------------------------------------------

Title: Master styles for screen media
Author: Jordan Cooperman, jordan@vectormediagroup.com
Year: 2012

----------------------------------------------------------------

Oh, I didn't see you there, friend.

Please have a look around, I hope you enjoy your stay.

----------------------------------------------------------------

[Table of contents] - a map of our grounds.

    0.General
        a.base elements
        b.base classes

    1.Layout
        a.header
        b.content
        c.footer

    2.Extensible Classes

----------------------------------------------------------------

[Prefixes] - some patterns that you may observe.

    g: global
    s: state

---------------------------------------------------------------- */

/* 0.`General
---------------------------------------------- */

@import "partials/mixins";

@import "partials/grid";

@import "partials/type";

/* a.`base elements
------------------------- */


/* 1.`Layout
---------------------------------------------- */

/* a.`header
------------------------- */

#grid-editor {
	position: absolute;
	width: 100%;
	padding: $base;
	background-color: #fff;
}


/* 2.`Extensible Classes
---------------------------------------------- */

.group {
	min-height: 1px; // ie
	
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
